Source: pciutils
Section: admin
Priority: optional
Maintainer: Joel Klecker <espy@debian.org>
Standards-Version: 2.5.0.0

Package: pciutils
Architecture: any
Depends: ${shlibs:Depends}
Description: Linux PCI Utilities (for 2.1/2.2 kernels)
 This package contains various utilities for inspecting and
 setting of devices connected to the PCI bus. Requires
 kernel version 2.1.82 or newer (supporting the /proc/bus/pci
 interface).
