Source: pciutils
Section: admin
Maintainer: Guillem Jover <guillem@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 pci.ids (>= 0.0~2019.11.10-2) <!noudeb>,
 pkgconf,
 libkmod-dev [linux-any],
 libudev-dev (>= 196) [linux-any],
 zlib1g-dev,
Standards-Version: 4.7.4
Homepage: https://mj.ucw.cz/sw/pciutils/
Vcs-Browser: https://git.hadrons.org/cgit/debian/pkgs/pciutils.git
Vcs-Git: https://git.hadrons.org/git/debian/pkgs/pciutils.git
Description: PCI Utilities
 The PCI Utilities are a collection of programs for inspecting and manipulating
 configuration of PCI devices, all based on a common portable library (libpci),
 which offers access to the PCI configuration space on a variety of operating
 systems.

Package: pciutils
Priority: standard
Architecture: any
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libpci3 (= ${binary:Version}),
Suggests:
 bzip2,
 wget | curl | lynx,
Description: ${source:Synopsis} - utilities
 This package contains various utilities for inspecting and setting of
 devices connected to the PCI bus.
 .
 ${source:Extended-Description}

Package: libpci-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 libpci3 (= ${binary:Version}),
 libudev-dev (>= 196) [linux-any],
 zlib1g-dev,
Description: ${source:Synopsis} - development files
 This package contains the <pci/pci.h>, <pci/config.h> and <pci/header.h>
 header files, as well as the libpci static library.
 .
 ${source:Extended-Description}

Package: libpci3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 pci.ids (>= 0.0~2019.11.10-2),
Description: ${source:Synopsis} - shared library
 This package contains the libpci shared library files.
 .
 ${source:Extended-Description}

Package: pciutils-udeb
Package-Type: udeb
Build-Profiles: <!noudeb>
Section: debian-installer
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: ${source:Synopsis} - udeb utilities
 This package contains various utilities for inspecting and setting of
 devices connected to the PCI bus.
 .
 ${source:Extended-Description}

Package: libpci3-udeb
Package-Type: udeb
Build-Profiles: <!noudeb>
Section: debian-installer
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: ${source:Synopsis} - udeb shared library
 This package contains the libpci shared library files.
 .
 ${source:Extended-Description}
