#!/usr/bin/make -f
export DH_VERBOSE=1

build:
	dh_testdir
	make OPT="-O2 -I/usr/src/linux/include"
	touch build

clean:
	dh_testdir
	dh_testroot
	rm -f lspci setpci *.o
	-rm -f build
	dh_clean

binary-indep: build

binary-arch: build

	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	make install ROOT=`pwd`/debian/tmp PREFIX=`pwd`/debian/tmp/usr
	mv -f `pwd`/debian/tmp/usr/share/pci.ids \
		`pwd`/debian/tmp/usr/share/misc/pci.ids
	dh_installdocs README
	dh_installmenu
	dh_installmanpages
	dh_installchangelogs ChangeLog
	dh_strip
	dh_compress
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
